<table border="0" cellspacing="0" cellpadding="0" width="100%" style="max-width:600px;min-width:320px;background-color:#eeeeee">
    <tbody>
        <tr>
            <td style="background-color:#ffffff">
                <table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
                    <tbody>
                        <tr>
                            <td width="20" align="left">
                                <div style="width:20px;height:20px;line-height:20px;font-size:0">&nbsp;</div>
                            </td>
                            <td align="left">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div style="font-family:Arial,sans-serif;font-weight:600;line-height:32px;text-align:left;font-size:26px;max-width:510px;color:#000000">Регистрация в&nbsp;<span class="il">Tutor In Tech</span></div>
                                                <div style="height:16px;line-height:16px;font-size:0">&nbsp;</div>
                                                <div style="font-family:Arial,sans-serif;font-weight:300;line-height:24px;text-align:left;font-size:16px;color:#000000;max-width:510px">Вы зарегистрированы на <span class="il">Tutor In Tech</span>. Осталось лишь установить пароль.</div>
                                                <div style="height:32px;line-height:32px;font-size:0">&nbsp;</div>
                                                <a href="{{ confirm_account_url }}" style="max-width:212px;max-width:fit-content;width:100%;display:block;text-decoration:none!important;font-size:16px;line-height:20px;font-family:Arial,sans-serif;font-weight:500;border-radius:8px;text-align:center;box-sizing:border-box;border:0;background-color:#ed0b4c;color:#fff!important;overflow:hidden;padding:14px 32px" target="_blank">Установить пароль</a>
                                                <div style="width:32px;height:32px;line-height:20px;font-size:0">&nbsp;</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td width="20" align="right">
                                <div style="width:20px;height:20px;line-height:20px;font-size:0">&nbsp;</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="background-color:#465a6e!important">
                <table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
                    <tbody>
                        <tr>
                            <td width="20" align="left">
                                <div style="width:20px;height:20px;line-height:20px;font-size:0">&nbsp;</div>
                            </td>
                            <td>
                                <table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div style="height:32px;line-height:32px;font-size:0">&nbsp;</div>
                                                <div style="font-family:Arial,sans-serif;font-weight:300;line-height:24px;text-align:left;font-size:16px;color:#ffffff;max-width:450px">
                                                    По вопросам пишите на&nbsp;<a href="mailto:info@tutorin.tech" style="text-decoration:none!important;color:#ffffff!important" target="_blank">info@<span class="il">tutorin</span>.tech</a>
                                                </div>
                                                <div style="height:32px;line-height:32px;font-size:0">&nbsp;</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td width="20" align="right">
                                <div style="width:20px;height:20px;line-height:20px;font-size:0">&nbsp;</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
